/* image modal */
  /* image modal background */
  #modalBg{
    display: block;
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
   /* image modal container */
  #modal{
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /*modal image */
  #modal-content{
    height: 80vh;
  }

  .test{
    border: rgb(0,0,0) 5px solid;
  }